body{
    margin: 0;
    padding: 0;
}

/* navbar container */
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 7px;
    border-bottom: 2.5px solid black;
  }
  
  /* navbar logo */
  .navbar-logo {
    /* display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff; */
    display: inline-block;
    margin-left: 5px;
    float: left;
    text-align: center;
    color: white;
    background-color: black;
  border-radius: 50%;
  border: 1px solid grey;
  padding: 10px;

  }
  
  .navbar-buttons > i{
    padding-right: 20px;
  }
  .navbar-logo i {
    margin-right: 10px;
  }
  
  /* navbar links */
  .navbar-links {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: inline-block;
    left: 0;
    transform: translateX(-37%);
    transition: top 0.3s;
  }
  
  .navbar-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    top: 18px;
    margin-left: 200px;
    left: 0;
    transition: top 0.3s;
  }
  
  .navbar-links li {
    position: relative;
    display: inline;
    transition: top 0.3s;
  }
  
  .navbar-links li > a {
    display: inline;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    font-family: Calibri;
    font-weight: 100;
}
  
  .navbar-links li > a:hover {
    background-color: #555;
  }
  
  /* dropdown menus */
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    background-color: #333;
  }
  
  .dropdown-menu li {
    position: relative;
  }
  
  .dropdown-menu > li > a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
  }
  
  .dropdown-menu > li > a:hover {
    background-color: #555;
  }
  
  .dropdown-menu li:hover > .dropdown-menu {
    display: block;
  }
  
  /* navbar buttons */
  .navbar-buttons {
    display: flex;
    align-items: center;
  }
  
  .navbar-buttons button {
    
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 750;
  }

  .btn__one{
    border-radius: 18px;
  }

  .btn__two{
    border-radius: 18px;
    background-color: black;
    color: white;

  }
  
  .navbar-buttons button:hover {
    background-color: #eee;
  }
  
  /* media queries */
  @media screen and (max-width: 768px) {
    .navbar-links {
      display: none;
    }
    
    .navbar-buttons {
      margin-left: auto;
    }
    
    .navbar-buttons button:first-child {
      margin-left: 0;
    }
    
    .navbar-toggle {
      display: block;
      font-size: 24px;
      color: #fff;
      cursor: pointer;
      padding: 10px;
    }
    
    .navbar-toggle i {
      margin-right: 10px;
    }
    
    .navbar-mobile-links {
      display: none;
    }
    
    .navbar-mobile-links ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    .navbar-mobile-links li {
      position: relative;
    }
    
    .navbar-mobile-links li > a {
      display: block;
      padding: 10px;
      color: #fff;
      text-decoration: none;
    }
    
    .navbar-mobile-links li > a:hover {
      background-color: #555;
    }
    
    .navbar-mobile-links li:hover > .dropdown-menu {
      display: block;
    }
  }

  .left__div{
    margin-left: 30px;
    width: 67%;
  }
  

  .main__title{
    text-align: left; 
    max-width: 100%; 
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 65px; 
    transform: scale(1.1, 1);
    line-height: 1.2;
    padding: 1rem; 
    /* font-family: 'Trebuchet MS'; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 550;
}

.left__divText > p{
    margin-left: 10px;
    color: #555;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 55%;
}

.left__divButtons{
    margin-top: 35px;
    margin-bottom: 25px;
}

.left__divButtons > button{
    
    padding: 12px 35px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 750;
    margin-left: 10PX;
}

.btn__leftTwo{
    border: 1px solid black;
    padding: 12px 35px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 750;
    margin-left: 10PX;
    background-color: #E9AFFC;
    border-radius: 18px;
}
/* 
.testimonials > P{
    margin-left: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 8px;

} */

.testimonials > p{
    position: relative;
    display: inline-block;
    margin-left: 10px;
    padding-bottom: 8px;
  }
  
  .testimonials > p::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 1px;
    width: 310px;
    height: 0.5px;
    background-color: black;
  }

  .companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    flex-direction: column;
  }
  
  .companies > row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .company__image {
    width: 70px;
    max-width: 70px;
    margin-bottom: 10px;
    margin-right: 8px;
  }

  .company__imageTwo{
    width: 70px;
    margin-right: 8px;
    max-width: 70px;
    margin-bottom: 10px;
    padding-bottom: 8px;
  }

  .company__imageThree{
    width: 70px;
    margin-right: 8px;
    max-width: 70px;
    margin-bottom: 10px;
    padding-bottom: 8px;
  }

  .two{
    width: 100px;
  }
  
  @media (max-width: 768px) {
    .company__image {
      width: 48%;
    }
  }
  


  @media (max-width: 767px) {
    .main__title {
      font-size: 1.5rem;
      line-height: 1.1;
    }
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container{
    display: flex;
  }

  .card-container{
    width: 33%;
  }

  /* --------------------------------------------CARD ONE------------------------------------------------ */
   
  .card__one {
    width: 300px;
    margin: 20px;
    background-color: #E9AFFC;
    padding-top: 15px;
    /* padding-left: 13px; */
    margin-top: 50px;
    padding-right: 13px;
    padding-bottom: 8px;
    border-radius: 25px;
    text-align: center;
  }

  .card__oneHead{
    margin-left: 13px;
    display: flex;
    justify-content: space-between;
  }

.card__oneHead > p{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
}

  .card__one > h3{
    margin: 0;
    padding: 0;
    margin-left: 13px;
    text-align: left;
    margin-top: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
  }

  
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pause-icon {
    width: 20px;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pause-icon::before,
  .pause-icon::after {
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 5px;
    margin-left: 2.4px;
    margin-right: 2.6px;
    background-color: black;
  }
  
  .pause-icon::before {
    left: 0;
  }
  
  .pause-icon::after {
    right: 0;
  }
  

  .recorder{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 7px;
  }

  .recorder__buttons{
    display: flex;
    background-color: black;
    width: 200px;
    height: 63px;
    align-items: center;
    border-radius: 25px;
    justify-content: space-evenly;

  }

  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle.white {
    background-color: white;
  }
  
  .circle.black {
    background-color: black;
  }
  
  .save-icon {
    width: 20px;
    height: 20px;
    position: relative;
  }
  
  .save-icon::before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid white;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);
    top: 4px;
    left: 2px;
  }

  .timer {
    position: relative;
    width: calc(100% - 5px);
  }  

  .timer > h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    margin-left: 0px;
    text-align: right;
    font-size: 40px;
  }

 /* ------------------- */

 .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

.circle.white {
  background-color: white;
}

.circle.black {
  background-color: gray;
}

.stop-icon {
  width: 15px;
  height: 15px;
  position: relative;
}

.stop-icon::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  /*------------------------------ CARD  TWO --------------------------------*/
  .card__two {
    width: 300px;
    height: 125px;
    max-height: 125px;
    margin: 20px;
    margin-top: 5px;
    color: white;
    background-color: #534FFF;
    padding: 0;
    padding-top: 15px;
    padding-left: 13px;
    border-radius: 25px;
    text-align: center;
  }

  .card__twoLeft > p{
    text-align: left;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
  }

  .card__twoLeft > h3{
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
  }
  .bill{
    display: flex;
    line-height: 1px;
    margin-top: 20px;
  }

  .total{
    margin-right: 15px;
  }

  .total > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-align: left;
  }

  .total > h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
  }

  .rate{
    margin-right: 15px;
  }

  .rate > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-align: left;
  }

  .rate > h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
  }

  .amount{
    padding-top: 16px;
  }

  .amount > p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
  }

  .card__two{
    display: flex;
  }

  .card__twoRight{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
  }
  .image{
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
/*-------------------------------------CARD THREE----------------------------- */

  /* -------last cards----------- */

  .last__Cards{
    display: flex;
  }

  .card__Back{
    border: none;
    z-index: 9;
    width: 300px;
    margin-left: -195px;
    background-color: black;
    color: white;
  }

  .card__Back > button{
    background-color: #5ED669;
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;

  }

  .card__Back h2{
    font-size: 24px;
    margin: 0 0 10px 0;
    margin-top: 15px;
    margin-left: 15px;
  }
  .card__Back ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 15px;
  }

  .card__Back li{
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;

    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    position: relative;
  }

  .card__Back li label{
    position: relative;
  }

  .card__Back li label span{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 15px;
  }
  .card__Back input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 200px;
    border: 1px solid #ccc;
    vertical-align: middle;
    margin-right: 10px;
  }

  .card__three {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 13px;
    width: 300px;
    max-width: 300px;
    z-index: 10;
    margin-left: -125px;
  }

  .card__three > button{
    background-color: #E9AFFC;
    border-radius: 15px;
    padding: 5px 10px;
    border: none;
    margin-top: 2px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  
  .card__three h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
  }
  
  .card__three ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .card__three li {
    display: flex; 
    align-items: center; 
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;

    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    position: relative;

  }

  .card__three li label{
    position: relative;
  }

  .card__three li label span{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 15px;
  }
  
  .card__three input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 200px;
    border: 1px solid #ccc;
    vertical-align: middle;
    margin-right: 10px;
  }
  

  .image-text-container {
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .text-label {
    position: absolute;
    right: 45px;
    top: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
  }
  
  .image-container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45px;
    margin: 0;
    padding: 0;
  }
  .circle-image {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    position: relative;
    z-index: 1;
  }

  .circle-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .circle-image:first-child {
    margin-right: -0.5em;
  }

  .bottom{
    display: flex;
    position: relative;
    overflow: hidden;

    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;

  }

  .bottom:before {
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  z-index: 1;
  }

  .bottom > button{
    padding: 10px 17px;
    margin-right: 7px;
  }

  .bottom > button > span{
    margin-left: 1px;
  }

  .bottom input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 200px;
    border: 1px solid black;
    vertical-align: middle;
    margin-right: 10px;
  }

  .button__purple{
    background-color: #E9AFFC;
  }
  .button__blue{
    background-color: #534FFF;
  }

  .green__text{
  padding-left: 10px;
  }

  .button__green{
    display: flex;
    align-items: center;
    background-color: #5ED669;
  }
